.container{
    display: grid;
    border: black solid 2px;
      grid-template-columns: auto auto;
}
.box{

  grid-gap: 10px;
  background-color: #2196F3;
  padding: 20px;
  border: solid black 2px;
  grid-auto-rows: 150px;
}
.box1{
    grid-column: 1 / 4;
}
.box2{
    grid-column: 4 / 6;
}
.box3{
    grid-column: 6 / 8;
}
.box4{
    grid-column: 1/3;
}
.box5{
    grid-column: 3/6;
}
.box6{
    grid-column: -3/4;
}
.box7{
    grid-column: 4/6;
}