body{
    background-color: grey;
}
.container{
    margin-top: 200px;
    border: 3px black solid;
    width: 700px;
    height: 300px;
    position:absolute;

}
.yellow-circle{
    margin-top: 30px;
    margin-left: 30px;
    background-color: yellow;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:2px solid black;
    position: absolute;
    top: 0px;
}
.orange-box{
    background-color: orange;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0px;
    border-radius: 50%;
    margin-left: 170px;
    margin-bottom: 40px;
    border:2px solid black;
}
.dark-red-rectangle{
    background-color: darkred;
    height: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
    margin-top: 100px;
}
.lime-box{
    background-color: lightgreen;
    height: 50px;
    width: 70px;
    position: absolute;
    border:2px solid black;
    right:150px;
    top:20px;
}
.dark-blue-circle{
    background-color: darkblue;
    height: 100px;
    width: 100px;
    position: absolute;
    border:2px solid black;
    right:70px;
    bottom: 70px;
    border-radius: 50%;
}