*{
    margin:0px;
    padding: 0px;
}
body{
    font-family:sans-serif;line-height:1.5;
    background-color: rgb(38, 95, 171);
}
h1{
    font-size: 40px;
    font-weight:bold;
    color:rgb(165, 87, 42);
}
h2{
    font-size: 25px;
    font-weight:lighter;
    color:rgb(170, 75, 20);
}
nav{
    color:rgb(143, 66, 21);
}
footer p {
    font-size: 15px;
    color: grey;
}
main > section > ul > li {
    background-color:rgb(165, 87, 42);
    border:solid;
}
h1 + p{
    font-style:italic;
    color:rgb(170, 75, 20);
}
footer:hover p{
    color:red;
}
#feature{
    background-color: rgb(23, 86, 170);
    padding: 10px;
    box-shadow: 10px;
}
.highlight{
    text-emphasis: filled black;

}
.note{
    font-style: italic;
    font-size: 20px;
}
.menu > li{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.smallcaps{
    text-transform: uppercase;
    font-size: 10px;
}
nav ul.menu li a {
    color: black;
    text-decoration: none;
    padding: 5px;
    padding-left: 2px;
    padding-right:2px ;
}
a:hover{
    background-color: blue;
    color:black;
}
a:visited{
    background-color: rgb(88, 71, 172);
    color:black;
}
li:nth-child(odd){
    background-color: rgb(157, 44, 44);
}
li:nth-child(even){
    background-color: rgb(172, 9, 9);
}
.menu-section li:first-child {
    background-color: aquamarine;
}
.menu-section li:last-child{
    background-color: azure;
}
#feature #welcome{
    color: black;
}
p{
    color: blue;
}
.highlight p{
    color: green;
}
#feature p {
    color: red;
}