* {
  margin: 0px;
}
body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 25px 20px 30px 20px;
}

@media (min-width: 400px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: darkcyan;
  }

  menu > ul > li {
    padding: 10px 5px 10px 5px;
    display: inline-block;
    margin-left: 10px;
    background-color: blueviolet;
  }
}
#menu-checkbox {
  display: none;
}
#menu-checkbox:checked ~ menu {
  display: list-item;
  list-style: none;
}
@media (max-width: 440px) {
  header {
    display: flex;
    list-style: none;
    display: list-item;
    overflow: visible;
    align-items: center;
    height: 50px;
    background-color: darkcyan;
  }

  menu {
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 75px;
    display: none;
  }
  .menu-icon {
    background-image: url(icon.svg);
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-top: 13px;
    margin-left: 13px;
  }
  menu {
    padding: 0px;
  }
  ul {
    padding: 0px;
  }
  menu ul li {
    padding: 10px 5px 10px 5px;
    display: block;
    width: 100px;
    background-color: blueviolet;
    margin: 0px;
    margin-left: 20px;
  }
}

@media (min-width: 755px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 400px));
    margin-top: 15px;
    column-gap: 15px;
    row-gap: 10px;
    justify-content: space-evenly;
  }
}
@media (max-width: 755px) {
  .main-wrapper {
    display: grid;

    grid-template-rows: repeat(2, minmax(200px, auto));
    margin-top: 15px;
    column-gap: 15px;
    justify-content: space-between;
    row-gap: 10px;
  }
}

aside,
article {
  background-color: burlywood;
  padding: 20px;
  max-width: 400px;
  min-width: 120px;
}
