table,td,th{
    border-collapse:collapse;
    border:1px solid black;
    padding:5px;
}
thead{
    background-color: #996351;
}
tbody tr:nth-child(odd) {
    background-color: rgb(244, 244, 244);
}
tbody tr:nth-child(even) td:nth-child(1){
    background-color:blue;
}
tbody tr:nth-child(odd) td:nth-child(2){
    background-color:blue;
}
tbody tr:nth-child(even) td:nth-child(3){
    background-color:blue;
}
.noted {
    border-bottom: 5px solid tomato;
}
tfoot{
    background-color: #996351;
}
div + p{
    color:red;
}